<h1>Menu</h1>


<%= link_to 'Home', controller: 'messages' %></p>
<%= link_to 'New message', new_message_path %>

<h1>Sent Messages</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @messages.each do |message| %>
    <tr>
      <td><%= message.sms_number %></td>
      <td><%= message.sms_text %></td>
      <td><%= link_to 'Show', message_path(message) %></td>
    </tr>
  <% end %>
</table> 
