<%= form_for :message, url: messages_path do |f| %>

	<% if @message.errors.any? %>
	    <div id="error_explanation">
	      <h2>
	        Fix the following <%= pluralize(@message.errors.count, "error") %> before sending:
	      </h2>
	      <ul>
	        <% @message.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	      </ul>
	    </div>
	<% end %>


  <p>
    <%= f.label :sms_number %><br>
    <%= f.text_field :sms_number %>
  </p>
 
  <p>
    <%= f.label :sms_text %><br>
    <%= f.text_area :sms_text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', messages_path %>